.vscode/
.idea/
.mcs/

*.bat

/world_resource_packs.json
/world_behavior_packs.json
物品列表高清.png
/world_icon.jpeg
.mcs/editorSave.json
.mcs/settings.json
1.png
studio.json
world_behavior_packs.json
world_resource_packs.json
world_icon.jpeg

main/awB/awScripts/test.py
slot_plaintxt.py
